<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
	<head th:fragment="head">
		<th:block th:include="layout::head-basic" />
		<th:block th:include="layout::head-css" />
		<th:block th:include="layout::head-js" />
	</head>
	
	<th:block th:fragment="head-basic">
		<title th:text="#{app/name}"></title>
		<meta charset="utf-8" />
	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0" />
	    <link rel="icon" th:href="@{/img/favicon.ico}"/>
	</th:block>
 
 	<th:block th:fragment="head-css">  
	    <link rel="stylesheet" type="text/css" th:href="@{#{app/style.less.path}}" media="screen" />
	    <link rel="stylesheet" type="text/css" th:href="@{#{app/style.mobile.less}}" media="handheld" />
	</th:block>
	
 	<th:block th:fragment="head-js">
		<script type="text/javascript" th:inline="javascript">/*<![CDATA[*/
		var contextPath = [[${#httpServletRequest.getContextPath()}]];
		var servletPath = [[${#httpServletRequest.getServletPath()}]];
		var locale = [[${#locale.language}]];
		var dojoConfig = {
			baseUrl: "./", async: true, isDebug: true, parseOnLoad: false,
			packages: [
				{name: "coffee", location: "lib", main: "coffee-script-1.6.3.min"},
				{name: "dojo", location: "lib/dojo"},
				{name: "dijit", location: "lib/dijit"},
				{name: "dojox", location: "lib/dojox"},
				{name: "jquery", location: "lib/jquery", main: "jquery-2.1.1.min"},
				{name: "sockjs", location: "lib", main: "sockjs-0.3.4"},
				{name: "stomp", location: "lib", main: "stomp"},
				{name: "js", location: "js"},
				{name: "core", location: "js", main: "core-1.0.0"},
				{name: "websocket", location: "js", main: "websocket-1.0.0"} 
			]
		};
		/*]]>*/
		</script>
		<script type="text/javascript" th:src="@{#{app/dojo.js.path}}"></script>
	</th:block>
	
	<th:block th:fragment="header">
		<div class="header">
			<label th:text="#{labels/header}" />
		</div>
	</th:block>
 
	<th:block th:fragment="footer">
		<div class="footer">
			<span th:utext="#{labels/footer}" />
		</div>
	</th:block>
	
</html>